body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.calendar {
    display: grid;
    width: 706px;
    height: 605px;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(6, 100px);
    grid-gap: 1px;
    margin: auto;
    padding-top: 20px;

    div {
        width: 100px;
        height: 100px;
        background-color: #eee;
        border: 1px solid black;
        box-sizing: border-box;
        transition: background-color 0.5s, transform 0.5s;
    }

    div:hover {
        background-color: pink;
        transform: translate(0, -20px);
        cursor: pointer;
    }

    @for $i from 1 through 31 {
        div:nth-child(#{$i})::after {
            content: "#{$i}";
            display: inline-block;
            width: 100px;
            text-align: center;
            line-height: 100px;
        }
    }
}

.calendar-30 {
    div:last-child {
        display: none;
    }
}

.calendar-29 {
    @extend .calendar-30;

    div:nth-last-child(2) {
        display: none;
    }
}

.calendar-28 {
    @extend .calendar-29;

    div:nth-last-child(3) {
        display: none;
    }
}

.calendar-tue {
    div:first-child {
        grid-column-start: 2;
    }
}

.calendar-wed {
    div:first-child {
        grid-column-start: 3;
    }
}

.calendar-thu {
    div:first-child {
        grid-column-start: 4;
    }
}

.calendar-fri {
    div:first-child {
        grid-column-start: 5;
    }
}

.calendar-sat {
    div:first-child {
        grid-column-start: 6;
    }
}

.calendar-sun {
    div:first-child {
        grid-column-start: 7;
    }
}